# будет игнорироваться подкаталог tmp
/tmp/
# будут игнорироваться файлы с расширением _old
*old
# будут игнорироваться файлы с расширением _backup
*backup 
# будут игнорироваться файлы Thumbs.db
Thumbs.db
# будут игнорироваться файлы .DS_Store
.DS_Store